@import url(https://fonts.googleapis.com/css?family=Ledger);
.parent {
    position: relative;
    top: 0;
    left: 0;
}
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    bottom: 80%;
    scale: 100%;
}
  .image2 {
    position: absolute;
    top: 10px;
    left: 5px;
    width: auto;
    right: 500px;
    scale: 100%;
}
    .image3 {
    position: absolute;
    top: 5px;
    width: auto;
    right: 5px;
    height: 80px;
    float: right
}
  body {
    background-color: #2D5753;
    margin: 0px;
    font-family: 'Ledger';
}
.heading {
  color: #E3FCEA;
  background-color: #1C3D36;
  font-size: 2vw;
  position: absolute;
  top:32%;
  right:47%;
  padding:10px;
  border-radius:15px;
}
  nav {
    text-align: center;
}
  .pagenav1 {
    color: #E3FCEA;
    background-color: #1C3D36;
    border-radius: 25px;
    padding: 20px;
    width: auto;
    position: absolute;
    top: 45%;
    right: 59%;
}
.pagenav2 {
  color: #E3FCEA;
  background-color: #1C3D36;
  border-radius: 25px;
  padding: 20px;
  width: auto;
  position: absolute;
  top: 45%;
  right: 49%;
}
.pagenav3 {
  color: #E3FCEA;
  background-color: #1C3D36;
  border-radius: 25px;
  padding: 20px;
  width: auto;
  position: absolute;
  top: 45%;
  right: 39%;
}
.image4 {
  position: absolute;
  top: 42%;
  left: auto;
  width: 30%;
  margin-top: 100px;
  margin-left: 7%;
}
.paragraph1 {
  position: absolute;
  top: 50%;
  left: 59%;
  right: 10%;
  color: #E3FCEA;
  background-color: #1C3D36;
  font-size: 1vw;
  padding:5px;
  border-radius:10px;
}
.image5 {
  position: absolute;
  top: 110%;
  left: 52%;
  right: 10%;
  width: 30%;
  margin-top: 100px;
  margin-left: 7%;
  margin-bottom:10px
}
.paragraph2 {
  position: absolute;
  top: 110%;
  left: 7%;
  right: 63%;
  color: #E3FCEA;
  background-color: #1C3D36;
  font-size: 1vw;
  padding:5px;
  border-radius:10px;
  margin-bottom:10px
}
.image6 {
  position: absolute;
  top: 130%;
  left: 52%;
  right: 10%;
  width: 30%;
  margin-top: 100px;
  margin-left: 7%;
  margin-bottom:10px
}
.paragraph3 {
  position: absolute;
  top: 120%;
  left: 7%;
  right: 63%;
  color: #E3FCEA;
  background-color: #1C3D36;
  font-size: 1vw;
  padding:5px;
  border-radius:10px;
  margin-bottom:10px
}